<app-menu-header></app-menu-header>

<body style="background-color:grey;text-align:center">


  <h1><i class='bx bxs-package'></i> Lista de Entregas</h1>
  <table id="tbody">
    <tr>
      <th style="border-radius: 5px 0 0 0"><input type="text" class="header-filter" placeholder="ID"
          [(ngModel)]="pesquisaIdentificador"></th>
      <th><input type="text" class="header-filter" placeholder="ID do Armazém" [(ngModel)]="pesquisaArmazemID"></th>
      <th><input type="text" class="header-filter" placeholder="Dia" [(ngModel)]="pesquisaDia"></th>
      <th><input type="text" class="header-filter" placeholder="Mês" [(ngModel)]="pesquisaMes"></th>
      <th><input type="text" class="header-filter" placeholder="Ano" [(ngModel)]="pesquisaAno"></th>
      <th><input type="text" class="header-filter" placeholder="Massa" [(ngModel)]="pesquisaMassa"></th>
      <th><input type="text" class="header-filter" placeholder="Tempo de Colocação" [(ngModel)]="pesquisaTempoColocacao"></th>
      <th style="border-radius: 0 5px 0 0"><input type="text" class="header-filter" placeholder="Tempo de Retirada" [(ngModel)]="pesquisaTempoRetirada"></th>
    </tr>
    <tr
      *ngFor="let a of entregas | filter:'entrega':{Identificador: pesquisaIdentificador, ArmazemId: pesquisaArmazemID, Dia: pesquisaDia,
      Mes: pesquisaMes, Ano: pesquisaAno, Massa: pesquisaMassa, TempoColocacao:pesquisaTempoColocacao,
      TempoRetirada: pesquisaTempoRetirada}">
      <td>{{a.Identificador}}</td>
      <td>{{a.ArmazemId}}</td>
      <td>{{a.Dia}}</td>
      <td>{{a.Mes}}</td>
      <td>{{a.Ano}}</td>
      <td>{{a.Massa}}</td>
      <td>{{a.TempoColocacao}}</td>
      <td>{{a.TempoRetirada}}</td>
    </tr>
  </table>
</body>